.idea/

__pycache__/
.mypy_cache/
.ruff_cache/
.pytest_cache/

.env

build/
dist/
eggs/
sdist/
*.egg-info/
.venv/
.docker/
tmp/

*.whl
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.DS_Store
.sqlite3
.sqlite

.specstory/
