default_language_version:
    python: python3.13

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: check-added-large-files
            args:
                - --maxkb=1024
          - id: check-yaml
          - id: check-toml
          - id: end-of-file-fixer
          - id: trailing-whitespace
          - id: detect-private-key
          - id: end-of-file-fixer
          - id: name-tests-test
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.19.1
      hooks:
          - id: mypy
            args: ["--config-file=pyproject.toml"]
            exclude: ^(docs/|analytics/)
            additional_dependencies:
                - pydantic
                - types-PyYAML
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.15.0
      hooks:
          - id: ruff
            types_or: [python]
            args:
                - --fix
                - --line-length=120
          - id: ruff-format
            types_or: [python]
