name: Test

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: "3.13"

      - name: Install dependencies
        run: make install

      - name: Run Linter
        run: make lint

      - name: Run Tests
        run: make test

      - name: Check Version Bump (Dry Run)
        run: make version-check
